#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Plan_Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Map_Icon_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Plan_Trip_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Plan_Trip_Hitbox {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Unlock_Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Unlock_Bike_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Unlock_Bike_Icon_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Unlock_Hitbox {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Menu_Bar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Menu_Icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Menu_Background {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Settings_Icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Settings {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Unlock_Bike {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Unlock_Bike_Icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Plan_Trip {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Map_Icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Menu_Close {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Home {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 #s-Home_Icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-227ac55c-0a73-4c1a-bb18-59fef7bc6b84 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}