#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_button {
  position: absolute;
  top: 596px;
  left: 188px;
  width: 187px;
  height: 71px;
  z-index: 100;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 187px;
  height: 71px;
  background-color: #2C3E50;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Background .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Background span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Background span#rtr-s-Unlock_Background_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Bike_1 {
  position: absolute;
  top: 22px;
  left: 52px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Bike_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Bike_1 span {
  color: #ECF0F1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Bike_1 span#rtr-s-Unlock_Bike_1_0 {
  color: #ECF0F1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Bike_Icon_1 {
  position: absolute;
  top: 20px;
  left: 18px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Bike_Icon_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Bike_Icon_1 span {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 24.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Bike_Icon_1 span#rtr-s-Unlock_Bike_Icon_1_0 {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Hitbox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 187px;
  height: 71px;
  background-color: #2C3E50;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Hitbox .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Hitbox span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Hitbox span#rtr-s-Unlock_Hitbox_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Button {
  position: absolute;
  top: 596px;
  left: 0px;
  width: 187px;
  height: 71px;
  z-index: 100;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 187px;
  height: 71px;
  background-color: #2C3E50;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Background .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Background span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Background span#rtr-s-Plan_Background_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Map_Icon_1 {
  position: absolute;
  top: 20px;
  left: 29px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Map_Icon_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Map_Icon_1 span {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 24.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Map_Icon_1 span#rtr-s-Map_Icon_1_0 {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip_1 {
  position: absolute;
  top: 22px;
  left: 68px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip_1 span {
  color: #ECF0F1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip_1 span#rtr-s-Plan_Trip_1_0 {
  color: #ECF0F1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip_Hitbox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 187px;
  height: 71px;
  background-color: #2C3E50;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip_Hitbox .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip_Hitbox span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip_Hitbox span#rtr-s-Plan_Trip_Hitbox_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_A_Bike {
  position: absolute;
  top: 74px;
  left: 130px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_A_Bike .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_A_Bike span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 22.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_A_Bike span#rtr-s-Unlock_A_Bike_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 62px;
  z-index: 100;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu_Bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 62px;
  background-color: #2C3E50;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu_Bar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu_Bar span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu_Bar span#rtr-s-Menu_Bar_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu_Icon {
  position: absolute;
  top: 13px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu_Icon .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu_Icon span {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 26.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu_Icon span#rtr-s-Menu_Icon_0 {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_8 {
  position: absolute;
  top: 15px;
  left: 243px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_8 span {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 20.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_8 span#rtr-s-Text_8_0 {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_8 span#rtr-s-Text_8_1 {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_8 span#rtr-s-Text_8_2 {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_8 span#rtr-s-Text_8_3 {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_8 span#rtr-s-Text_8_4 {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_7 {
  position: absolute;
  top: 29px;
  left: 155px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Thin,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_7 span {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 10.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_7 span#rtr-s-Text_7_0 {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_7 span#rtr-s-Text_7_1 {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Progress {
  position: absolute;
  top: 118px;
  left: 26px;
  width: 327px;
  height: 58px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Line_2 {
  position: absolute;
  top: 9px;
  left: 32px;
  width: 260px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #2C3E50;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Ellipse_1 .content {
  width: 20px;
  height: 20px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Ellipse_1 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 20px;
  height: 20px;
  background-color: #679868;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #2C3E50;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #2C3E50;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #2C3E50;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #2C3E50;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #shapewrapper-s-Ellipse_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Ellipse_2 .content {
  width: 20px;
  height: 20px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Ellipse_2 {
  position: absolute;
  top: 0px;
  left: 152px;
  width: 20px;
  height: 20px;
  background-color: #679868;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #2C3E50;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #2C3E50;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #2C3E50;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #2C3E50;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #shapewrapper-s-Ellipse_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Ellipse_3 .content {
  width: 20px;
  height: 20px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Ellipse_3 {
  position: absolute;
  top: 0px;
  left: 285px;
  width: 20px;
  height: 20px;
  background-color: #679868;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #2C3E50;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #2C3E50;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #2C3E50;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #2C3E50;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #shapewrapper-s-Ellipse_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Paragraph_3 {
  position: absolute;
  top: 21px;
  left: 264px;
  width: 63px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Paragraph_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Paragraph_2 {
  position: absolute;
  top: 20px;
  left: 137px;
  width: 55px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Paragraph_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Paragraph_1 {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 64px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Paragraph_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Image_2 {
  position: absolute;
  top: 213px;
  left: 50px;
  width: 134px;
  height: 137px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_1 {
  position: absolute;
  top: 266px;
  left: 152px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_1 span {
  color: #679868;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 26.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Text_1 span#rtr-s-Text_1_0 {
  color: #679868;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Paragraph_4 {
  position: absolute;
  top: 325px;
  left: 45px;
  width: 289px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Paragraph_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Home_Button {
  position: absolute;
  top: 375px;
  left: 94px;
  width: 187px;
  height: 71px;
  z-index: 100;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Background_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 187px;
  height: 71px;
  background-color: #679868;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 36px 36px 36px 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Background_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Background_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Background_1 span#rtr-s-Plan_Background_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip_2 {
  position: absolute;
  top: 22px;
  left: 76px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip_2 span {
  color: #ECF0F1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip_2 span#rtr-s-Plan_Trip_2_0 {
  color: #ECF0F1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip_Hitbox_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 187px;
  height: 71px;
  background-color: #2C3E50;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip_Hitbox_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip_Hitbox_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip_Hitbox_1 span#rtr-s-Plan_Trip_Hitbox_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Home_Icon_1 {
  position: absolute;
  top: 21px;
  left: 35px;
  width: 34px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Slide_In_Menu {
  position: absolute;
  top: 0px;
  left: -375px;
  width: 376px;
  height: 667px;
  z-index: 100;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu_Background {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 373px;
  height: 667px;
  background-color: #000000;
  background-image: none;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu_Background .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu_Background span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu_Background span#rtr-s-Menu_Background_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Settings_Icon {
  position: absolute;
  top: 614px;
  left: 33px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Settings_Icon .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Settings_Icon span {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 28.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Settings_Icon span#rtr-s-Settings_Icon_0 {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Settings {
  position: absolute;
  top: 596px;
  left: 1px;
  width: 374px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ECF0F1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECF0F1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Settings .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Settings span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Settings span#rtr-s-Settings_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Bike {
  position: absolute;
  top: 204px;
  left: 1px;
  width: 374px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECF0F1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Bike .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Bike span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Bike span#rtr-s-Unlock_Bike_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Bike_Icon {
  position: absolute;
  top: 220px;
  left: 33px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Bike_Icon .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Bike_Icon span {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 28.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Unlock_Bike_Icon span#rtr-s-Unlock_Bike_Icon_0 {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip {
  position: absolute;
  top: 133px;
  left: 0px;
  width: 374px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ECF0F1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECF0F1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Plan_Trip span#rtr-s-Plan_Trip_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Map_Icon {
  position: absolute;
  top: 153px;
  left: 32px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Map_Icon .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Map_Icon span {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 28.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Map_Icon span#rtr-s-Map_Icon_0 {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu_Close {
  position: absolute;
  top: 17px;
  left: 21px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu_Close .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu_Close span {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 26.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Menu_Close span#rtr-s-Menu_Close_0 {
  color: #ECF0F1;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Home {
  position: absolute;
  top: 63px;
  left: 1px;
  width: 374px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ECF0F1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Home .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Home span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Home span#rtr-s-Home_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Home_Icon {
  position: absolute;
  top: 86px;
  left: 36px;
  width: 34px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab #s-Image_3 {
  position: absolute;
  top: 253px;
  left: 1px;
  width: 375px;
  height: 369px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2b8a1b05-e367-417f-8fb7-03f4fdb8d3ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}