#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Unlock_Background {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Unlock_Bike_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Unlock_Bike_Icon_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Unlock_Hitbox {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Plan_Background {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Map_Icon_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Plan_Trip_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Plan_Trip_Hitbox {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Menu_Bar {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Menu_Icon {
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Plan_Background_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 36px 36px 36px 36px;
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Plan_Trip_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Home_Icon_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Plan_Trip_Hitbox_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Menu_Background {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Settings_Icon {
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Settings {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ECF0F1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECF0F1;
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Unlock_Bike {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECF0F1;
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Unlock_Bike_Icon {
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Plan_Trip {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ECF0F1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECF0F1;
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Map_Icon {
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Menu_Close {
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Home {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ECF0F1;
  -ms-transform: rotate(0.0deg);
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e #s-Home_Icon {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d9b158a9-81fd-4bb0-b705-6edbccbd9b2e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}