#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Unlock_A_Bike {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Plan_Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Map_Icon_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Plan_Trip_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Plan_Trip_Hitbox {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Unlock_Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Unlock_Bike_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Unlock_Bike_Icon_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Unlock_Hitbox {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Menu_Bar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Menu_Icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Menu_Background {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Settings_Icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Settings {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Unlock_Bike {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Unlock_Bike_Icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Plan_Trip {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Map_Icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Menu_Close {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Home {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 #s-Home_Icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fe512ffa-f4fc-4a88-9338-e24bc327cbc3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}